.walla-button {
    font-size: 1rem;
    line-height: 24px;
    color: #29363d;
    align-items: center;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 0px 24px;
    min-height: 40px;
}
.walla-button-primary {
    background-color: #3dd2ba;
    border: 2px solid #3dd2ba;
}
.walla-button-secondary {
    min-width: 88px;
    background-color: transparent;
    border: 2px solid #3dd2ba;
}

.walla-button-primary:hover, .walla-button-secondary:hover {
    background-color: #3dd2ba;
    border: 2px solid #3dd2ba;
    color: white;
    opacity: 0.8;
}
